@charset "UTF-8";
/* CSS Document */

/* Web Defaults */
html {
	font-family: "gothamlight", Helvetica, Arial, sans-serif;
	}
/* .footer {
    visibility: hidden;
} */
.fa {
	color:#000000;
	opacity: 0.5 ;
	}
.footeranchor {
	padding: 10px 0px 0px 20px;
	}
.stdtxt {
    font-family: "gothamlight", Helvetica, Arial, sans-serif;
    color: #000000;
	opacity: 0.5;
	font-size: 14px;
	}
	
/* Bootstrap overrides */
/* top level for Navigator bar */
.navbar,
.navbar-default,
.navbar-static-top {
	width:auto;   background-color:#FFF ; 
	border: 1px solid transparent;
	font-family: "gothamlight", Helvetica, Arial, sans-serif;
	}
/* container for dynamic Navbar */
	/* should be the same size as no of thumbnails+spac */
.container	{
	margin-left: 20px; 
	margin-right: 0px;
	padding: 10px	;
	}
/* container for logo */
.navbar-brand {
  	float: left;
  	height: 60px;
  	padding: 0 0;
	}
/* tweek the menu text to align with logo text */	
.navbar-nav > li > a {
    padding-top: 20px;
    padding-bottom: 10px;
}
/*this pushes the menu itself right aligned */
.navbar-nav {
	float: right; 
	}
/* these are styles for the menu / submenu text */
.navbar-default .navbar-nav > li > a,
.dropdown-menu > li > a {
    color: #000000;
	text-transform: uppercase;
	opacity: 0.5;
	font-size: 13px; 
    padding-left: 20px; 	padding-right: 0px;
	float: right;	  
	}
.dropdown-menu > li > a {
	float: left;	  
	}
/* focus/hover style changes to manu text */
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus, 
.navbar-default .navbar-nav > li > a:hover  {
  	color: #000000;
  	text-decoration: none;   
  	background-color: #ffffff;
  	opacity: 1;
	}
/* have the dropdown display on hover */
ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block;    
	}
















 


