@charset "UTF-8";
/* CSS Document */

/* Web Defaults */
html {
	font-family: "gothamlight", Helvetica, Arial, sans-serif;
	}

/* Bootstrap overrides */
/* top level for Navigator bar */
.navbar,
.navbar-default,
.navbar-static-top {
	width:auto;margin:20px 20px;  background-color:#0C3 ; 
	border: 1px solid transparent;
	font-family: "gothamlight", Helvetica, Arial, sans-serif;
	}
/* container for dynamic Navbar */
	/* should be the same size as no of thumbnails+spac */
.container	{
	margin-left: 20px; 
	margin-right: 0px;
	padding: 10px	;
	}
/* container for logo */
.navbar-brand {
  	float: left;
  	height: 60px;
  	padding: 0 0;
	}
/* tweek the menu text to align with logo text */	
.navbar-nav > li > a {
    padding-top: 20px;
    padding-bottom: 10px;
}
/*this pushes the menu itself right aligned */
.navbar-nav {
	float: right; 
	}
/* these are styles for the menu / submenu text */
.navbar-default .navbar-nav > li > a,
.dropdown-menu > li > a {
    color: #000000;
	text-transform: uppercase;
	opacity: 0.5;
	font-size: 13px; 
    padding-left: 20px; 	padding-right: 0px;
	float: right;	  
	}
.dropdown-menu > li > a {
	float: left;	  
	}
/* focus/hover style changes to manu text */
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus, 
.navbar-default .navbar-nav > li > a:hover  {
  	color: #000000;
  	text-decoration: none;   
  	background-color: #ffffff;
  	opacity: 1;
	}
/* have the dropdown display on hover */
ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block;    
	}















.fa {
	color:#000000;
	opacity: 0.5 ;
}
.footeranchor {
	padding: 10px 0px 0px 20px;
}
.footer, .std, .stdtxt {
    color: #000000;
	opacity: 0.5;
	font-size: 16px;
	padding: 10px	;

}


.content{color:#000; /* font:12px/1.4 "helvetica neue",arial,sans-serif; */ width:auto;margin:20px 20px; /* background-color:#33F */}
#galleria{ width: auto; height: 600px; /* background-color:#0C3 */ }
.galleria-theme-folio .galleria-stage {
	/*background-color:#FC0;*/
  background: transparent;  
 top: 80px;	}

.cred{margin-top:20px;font-size:11px;}
/* iphone 4, 5 landscape */
@media (max-width: 320px) {
.galleria-theme-folio .galleria-thumbnails .galleria-image {
    width: 270px;}
.container {
    margin-left: 15px;
    margin-right: 0px;
    padding: 0px;
	}
.container > .navbar-header, .container-fluid > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-collapse {
    margin-right: 0px;
    margin-left: -15px;
}
.navbar, .navbar-default, .navbar-static-top {
    width: auto;
    margin: 0px; }
.navbar-brand > img {
	width:281px ; height:60px }
}





@media (min-width: 321px) and (max-width: 374px) {
.galleria-theme-folio .galleria-thumbnails .galleria-image {
    width: 270px;}
}
@media (min-width: 375px) and (max-width: 413px) {
.galleria-theme-folio .galleria-thumbnails .galleria-image {
    width: 364px;}
}
@media (min-width: 414px)  {
.galleria-theme-folio .galleria-thumbnails .galleria-image {
    width: 200px;}
}
.galleria-theme-folio .galleria-close {
	top: 00px;
	right: 10px;
} 
.galleria-theme-folio .galleria-close {
    background: url(../images/close-neg.png) no-repeat 0 0;
    background-image: url("../images/close-neg.png");
    background-position-x: 0px;
    background-position-y: 0px;
    background-size: initial;
    background-repeat-x: no-repeat;
    background-repeat-y: no-repeat;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;
	width: 50px;
height: 50px;
position: absolute;
top: 0;
right: 100;

z-index: 100;
cursor: pointer;
}

 


